[Unit]
Description=[omobus-scgid: ddi] service
After=local-fs.target network.target slapd.service
#Requires=slapd.service

[Service]
PIDFile=/var/run/omobus-scgi.d/ddi.pid
ExecStartPre=/bin/mkdir -m 0755 -p /var/run/omobus-scgi.d
ExecStartPre=/bin/chown omobus:omobus /var/run/omobus-scgi.d
ExecStartPre=/bin/sh /etc/omobus-scgi.d/ddi/env.sh
ExecStart=/usr/local/sbin/omobus-scgid -x -u omobus -g omobus -p /var/run/omobus-scgi.d/ddi.pid -c /var/lib/omobus-scgi.d -s /var/www/run/omobus-ddi.sock /etc/omobus-scgi.d/ddi/main.lua
ExecStop=/bin/kill -s USR1 $MAINPID
#RemainAfterExit=no
#Restart=on-failure
#RestartSec=5s

[Install]
WantedBy=multi-user.target
